:root {
  /* Base Colors */
  --black: hsl(0deg 0% 5%);
  --blue-hue: 200deg;
  --blue1: hsl(var(--blue-hue) 60% 90%);
  --blue2: hsl(var(--blue-hue) 65% 85%);
  --blue3: hsl(var(--blue-hue) 70% 80%);
  --blue4: hsl(var(--blue-hue) 75% 70%);
  --blue5: hsl(var(--blue-hue) 80% 60%);
  --blue6: hsl(var(--blue-hue) 85% 40%);
  --blue7: hsl(var(--blue-hue) 90% 30%);
  --blue8: hsl(var(--blue-hue) 95% 20%);
  --blue9: hsl(var(--blue-hue) 100% 10%);
  --gray1: hsl(0 0% 90%);
  --gray2: hsl(0 0% 85%);
  --gray3: hsl(0 0% 80%);
  --gray4: hsl(0 0% 70%);
  --gray5: hsl(0 0% 60%);
  --gray6: hsl(0 0% 40%);
  --gray7: hsl(0 0% 30%);
  --gray8: hsl(0 0% 20%);
  --gray9: hsl(0 0% 10%);
  --green-hue: 100deg;
  --green1: hsl(var(--green-hue) 60% 85%);
  --green2: hsl(var(--green-hue) 65% 80%);
  --green3: hsl(var(--green-hue) 70% 75%);
  --green4: hsl(var(--green-hue) 75% 65%);
  --green5: hsl(var(--green-hue) 80% 55%);
  --green6: hsl(var(--green-hue) 85% 35%);
  --green7: hsl(var(--green-hue) 90% 25%);
  --green8: hsl(var(--green-hue) 95% 15%);
  --green9: hsl(var(--green-hue) 100% 5%);
  --red-hue: 10deg;
  --red1: hsl(var(--red-hue) 60% 90%);
  --red2: hsl(var(--red-hue) 65% 85%);
  --red3: hsl(var(--red-hue) 70% 80%);
  --red4: hsl(var(--red-hue) 75% 70%);
  --red5: hsl(var(--red-hue) 80% 60%);
  --red6: hsl(var(--red-hue) 85% 40%);
  --red7: hsl(var(--red-hue) 90% 30%);
  --red8: hsl(var(--red-hue) 95% 20%);
  --red9: hsl(var(--red-hue) 100% 10%);
  --white: hsl(0deg 0% 95%);
  --yellow-hue: 50deg;
  --yellow1: hsl(var(--yellow-hue) 60% 90%);
  --yellow2: hsl(var(--yellow-hue) 65% 85%);
  --yellow3: hsl(var(--yellow-hue) 70% 80%);
  --yellow4: hsl(var(--yellow-hue) 75% 70%);
  --yellow5: hsl(var(--yellow-hue) 80% 60%);
  --yellow6: hsl(var(--yellow-hue) 85% 40%);
  --yellow7: hsl(var(--yellow-hue) 90% 30%);
  --yellow8: hsl(var(--yellow-hue) 95% 20%);
  --yellow9: hsl(var(--yellow-hue) 100% 10%);

  /* Font Families */
  --monospace-code-fonts: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  /* Sizes */
  --tiny: 0.25rem;
  --small: 0.5rem;
  --medium: 1rem;
  --large: 2rem;
  --huge: 4rem;

  /* Timings */
  --fast: 50ms;
  --slow: 150ms;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--monospace-code-fonts);
  margin: 0;
}

button {
  border-radius: var(--tiny);
  border-style: none;
  font: inherit;
  min-width: var(--huge);
  padding: var(--tiny) var(--small);
}

.alert {
  background-color: var(--gray9);
  border: 2px solid var(--gray4);
  border-radius: var(--tiny);
  padding: var(--small);

  &.-danger {
    background-color: var(--red9);
    border-color: var(--red4);
    color: var(--red1);
  }

  &.-notice {
    background-color: var(--blue9);
    border-color: var(--blue4);
    color: var(--blue1);
  }

  &.-success {
    background-color: var(--green9);
    border-color: var(--green4);
    color: var(--green1);
  }

  &.-warning {
    background-color: var(--yellow9);
    border-color: var(--yellow4);
    color: var(--yellow1);
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &.-medium {
    gap: var(--medium);
    padding: var(--medium);
  }

  &.-small {
    gap: var(--small);
    padding: var(--small);
  }
}
