:root {
  font-size: 16px;
  line-height: 1.5;

  /* Colors */
  --dark: #110b02;
  --light: #fa9f24;

  /* Fonts */
  --mono-fonts: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--light);
  display: grid;
  grid-template-columns: 225px 1fr;
  font-family: var(--mono-fonts);
  text-shadow: 0 0 5px var(--light);
}

#Map {
  background-color: #282828;
  border-radius: 2px;
  padding: 10px;
}

#Map .row {
  display: flex;
  width: 100%;
}

#Map .row:not(:first-child) {
  margin-top: 5px;
}

#Map .tile {
  align-items: center;
  background-color: #383838;
  border-radius: 2px;
  color: #585858;
  display: flex;
  font-size: 0.75rem;
  height: 25px;
  justify-content: center;
  width: 25px;
}

#Map .tile.-active {
  background-color: #a8a8a8;
}

#Map .tile:not(:first-child) {
  margin-left: 5px;
}

#Scanlines {
  height: 100vh;
  left: 0;
  opacity: 0.05;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
}
