:root {
  font-size: 16px;
  line-height: 1.5;

  /* Colors */
  --black: #080808;
  --white: #f8f8f8;

  /* Fonts */
  --monospace-font: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--monospace-font);
}
